.footerWrapper {
    background: #1E1E1E;
    width: 100%;
    padding: 50px 0;
    display: flex;
    margin-top: 100px;
}

.footerColumns {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#mobileFotter {
    display: none;
}

.Social>div {
    cursor: pointer;
}

.footerColumns>img {
    width: 200px;
}

#footerWrapperDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PrivacyPolicySpan {
    cursor: pointer;
}

.footerColumns>p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-family: "Montserratarm-Regular", sans-serif;
    font-style: normal;
    line-height: 20px;
}

.footerColumnsTitle {
    color: #FEC01E;
    font-family: "Montserratarm-Medium", sans-serif;

    font-size: 16px;
    font-style: normal;

}

.footerColumnsWrapper {
    gap: 60px;
    display: flex;
}

.footerColumnsWrapperDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerColumnsInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footerColumnsInfo {
    cursor: pointer;

}

.footerColumnsInfo>p {
    color: #FFF;
    font-family: "Montserratarm-Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}

.Social {
    display: flex;
    gap: 20px;
}



@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {
    #footerWrapperDiv {
        display: none;
    }

    #mobileFotter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .footerColumns>img {
        width: 170px;
    }

    .footerColumns {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footerColumns>p {
        font-size: 9px;
        text-align: center;
    }

    .footerColumnsWrapperDivMObile {
        display: flex;
        flex-direction: column;
        gap: 10px !important;
    }

    .footerColumnsWrapper {
        width: 100%;
        justify-content: space-between;
    }

    .footerWrapper {
        margin-top: 30px;
    }

    .footerColumnsWrapper {
        gap: 0;
    }
}