.hallWrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-y: scroll;
    z-index: 333;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    /* background: #c2beb4; */
    padding-bottom: 100px;
    border-radius: 6px;
}


#hall {
    opacity: 0.4;
    width: 100%;
}

.hidden {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}

.eachSeat {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
}

.parter {
    width: 150px;
    height: 130px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Teatertext {
    color: white;
    font-size: 20px;
}

.activeButton {
    background-color: #fc7115;
    width: 10px !important;
    height: 10px !important;
}

.cartLine {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 60px;
    z-index: 1000;
    border-radius: 8px;
    background: #333333;
    padding: 0 40px;
    color: #FEE827;
    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 38px;
    padding: 0 67px;
    justify-content: center;


}

.cartLine:hover {
    border-radius: 8px;
    background: #FEE827;
    color: #333333;

    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.continubutton {
    color: #FEE827;
    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    justify-content: center;
}

.cartLine>div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.addTicketButton {
    background-color: green;
}

#seatStyle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#seatStyle2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#seatStyleAram {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* transform: rotate(-16deg); */
}

.HallWithoutSeat {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 30px;
    margin-bottom: 30px;
}

.HallTitle {
    font-size: 24px;
    font-weight: 700;
    min-width: 170px;
}

.HallDate {
    font-size: 15px;
}

.HallBuyTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.HallWithoutSeatButton>input {
    width: 40px;
    height: 30px;
    text-align: center;
}

.HallWithoutSeatText {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 400px;
}

.HallWithoutSeatButton {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ButtonHallWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}